@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GitLab Sans";
  font-style: normal;
  /* ttf format */
  src: url("./GitLabSans.ttf") format("truetype");
  font-display: swap;
}

/* italic */
@font-face {
  font-family: "GitLab Sans";
  font-style: italic;
  /* ttf format */
  src: url("./GitLabSans-Italic.ttf") format("truetype");
  font-display: swap;
}

/* use this font */
body {
  font-family: "GitLab Sans", sans-serif;
}

.border-color {
  @apply border-gray-300 dark:border-gray-700;
}

.bg-color {
  @apply bg-gray-200 dark:bg-gray-800;
}

.text-color {
  @apply text-gray-400 dark:text-gray-500;
}
